body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Balsamiq Sans', cursive;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 2.5em;
}

header h1 {
    font-size: 48px;
}

header h3 {
    font-size: 22px;
}

main {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.list {
    list-style-type: none;
    padding-left: 0;
}

.list-item {
    display: flex;
    border: 1px solid #ccc;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem;
}

.list-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.list-item a {
    display: flex;
    font-size: 13pt;
    color: #333333;
    width: 81%;
    text-decoration: none;
}

.list-item a span {
    display: inline-block;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item address
{
    padding-left: 6px;
    display: inline-block;
    color: #999999;
}

.list-item time {
    font-size: 13pt;
    color: #333333;
    width: auto;
}

.list-item input[type="image"] {
    height: 1rem;
    width: 1rem;
    margin-left: auto;
}
